@media only screen and (max-width: 768px) {
    .car-body{
      width: 100%;
    }
  }

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
}

.logo-image{
    margin-top: 20%;
    margin-bottom: 20%;
    
}
.main{
    margin: 4em 0;
    position: relative;
    width: 900px;
    margin-left: 450px;
  }
.main h1{
    margin: 1em;
  }
.main .item{
    position: relative;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10% 0px 10%;
}
#inputName{
    background-color: transparent;
    height: 30px;
    border-radius: 0px;
}
#inputEmail{
    background-color: transparent;
    height: 30px; 
    border-radius: 0px;
}

#inputMessage{
    background-color: transparent;
    border-radius: 0px;
}
input[type="text"]::-webkit-input-placeholder {
    color:white;
}
input[type="email"]::-webkit-input-placeholder {
    color:white;
}
::placeholder {
    color: white;
}

.item:hover .text{
    height: 100%;
    color:white;
    background-image: transparent;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom:3px solid white;
}

#design-text{
    display: none;
}
#development-text{
    display: none;
}
#product-text{
    display: none;
}

.paragraph1{
    margin-top: -100px;
}
.paragraph2{
    margin-top: -100px;
}
.paragraph3{
    margin-top: -100px;
}
.paragraph4{
    margin-top: -100px;
}
.paragraph5{
    margin-top: -100px;
}
.paragraph6{
    margin-top: -100px;
}
.paragraph7{
    margin-top: -100px;
}
.paragraph8{
    margin-top: -100px;
}

#footer{
    margin-top: 30px;
}